<% include ../partials/boilerplate %>
<h2>Howdy</h2>
<div class="contact-list">

<% contact.forEach((contact) => { %>
<!-- <div class="contacts">
  <a href="/contacts/<%=contact.id%>"><h1><%=contacts.fname%><%=contacts.lname%></h1></a>
</div> -->

<div class="card-container">
  <img src="https://imgur.com/xnXMJbo" alt="">
  <h2><%= contact.fname%> <%= contact.lname%></h2>
  <p><%= contact.email %></p>
  <p><%= contact.phone %></p>
  <p><button>Contact</button></p>
</div>
  <% }) %>

</div>
  <% include ../partials/end %>
