<% include ../partials/boilerplate %>

<div class="card-container">

<div class="card">
  <img src="<%= contact.img_url %>" alt="profile-picture">
    <h3><%= contact.fname %> <%= contact.lname %></h3>
    <br>
    <p><%= contact.email %></p>
    <br>
    <p><%= contact.phone %></p>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <p><button>Message</button></p>
</div>

</div>

<% include ../partials/end %>
